* {
  box-sizing: border-box;
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 600;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: black;
  font-family: var(
      --encore-body-font-stack,
      CircularSp,
      CircularSp-Arab,
      CircularSp-Hebr,
      CircularSp-Cyrl,
      CircularSp-Grek,
      CircularSp-Deva,
      var(--fallback-fonts, sans-serif)
    ),
    sans-serif;
  display: flex;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

button > svg,
img {
  cursor: pointer;
}
section {
  background-color: #121212;
  border-radius: 8px;
  margin: 1vh 0 1vh 1vh;
}

#top-left {
  height: 15.5vh;
  width: 23vw;
  overflow: auto;
}
#top-left ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
#top-left li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 24px;
}
.home-text {
  margin-left: 20px;
}
.home-text a {
  text-decoration: none;
}
#top-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#close-icon {
  position: sticky;
  display: none;
}
#bottom-left {
  height: 71vh;
  width: 23vw;
  overflow: auto;
}
#library {
  object-fit: cover;
  padding-left: 24px;
  padding-top: 2vh;
  display: flex;
  align-items: center;
}
#library p {
  margin-left: 10px;
  color: rgb(22, 20, 20);
  filter: invert(0.5);
}
.arrow {
  margin-left: auto;
  margin-right: 1.5vw;
}

#songslist ul {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
}
#songslist li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 0 24px;
  border: 2px solid gray;
  border-radius: 3px;
  height: 50px;
  gap: 15px;
  cursor: pointer;
}
#right {
  height: 87.5vh;
  width: 75vw;
  background: linear-gradient(180deg, #1e1e1e, #121212);
  max-height: 87.5vh;
  overflow: auto;
}
nav {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  background-color: #121212;
  align-items: center;
}
#hamburger {
  display: none;
}
.navigation-buttons {
  height: 32px;
  width: 32px;
  margin-left: 1vw;
  margin-top: 1vh;
  background-color: black;
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  opacity: 0.6;
}
#navigation-buttons-div {
  display: flex;
}
#login-button button:nth-child(1) {
  background-color: transparent;
  border: none;
  height: 7vh;
  width: 7em;
  color: rgb(22, 20, 20);
  filter: invert(0.5);
  font-size: 16px;
  cursor: pointer;
}
#login-button button:nth-child(1):hover {
  scale: 1.05;
}
#login-button button:nth-child(2):hover {
  scale: 1.05;
}
#login-button button:nth-child(2) {
  background-color: white;
  color: black;
  border-radius: 50px;
  height: 7vh;
  width: 7em;
  font-size: 16px;
  cursor: pointer;
}
#heading {
  margin-left: 1vw;
  margin-top: 1vh;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 1vw;
  max-width: fit-content;
  overflow: hidden;
  position: relative;
}

.card-box {
  box-sizing: border-box;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: min-content;
}

.card-img {
  height: 20vh;
  margin: 1vh 1vw;
  border-radius: 6px;
  object-fit: contain;
  position: relative;
}

.cards p {
  margin: 1vh 1vw;
  font-weight: 400;
  color: #a7a7a7;
  width: 150px;
  overflow: hidden;
}

.cards h3 {
  margin: 1vh 1vw;
}

.card-box:hover {
  background-color: #131313;
  border-radius: 6px;
}

.card-box:hover .play-icon-div {
  opacity: 1;
}

#bottom {
  background-color: black;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 11vh;
  display: flex;
}
.songinfo {
  width: 23vw;
}

#playbar {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 22px;
  width: 50vw;
}

#bottom button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#songduration-start,
#songduration-end {
  font-size: small;
  margin: 5vh 5px 0 5px;
}
#playbar #play-btn {
  background-color: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  padding: 17px;
}

#seekbar {
  background-color: #282828;
  border-radius: 10px;
  height: 5px;
  width: 50vw;
  position: absolute;
  bottom: 0;
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: gray;
  position: relative;
  left: 0%;
  transition: left 0.5s;
}
@media (max-width: 450px) {
  #left {
    position: absolute;
    left: -150%;
    transition: all 0.7s;
    z-index: 1;
  }
  section {
    background-color: #121212;
    border-radius: 8px;
  }
  #top-left {
    width: 97vw;
    font-size: small;
    height: 14vh;
  }

  #top-left li {
    display: flex;
    align-items: center;
    margin-top: 17px;
    padding-left: 24px;
  }
  #bottom {
    height: 25vh;
    flex-direction: column;
    align-items: center;
  }
  #bottom-left {
    width: 97vw;
    font-size: small;
  }
  .songinfo {
    word-break: break-all;
    width: max-content;
    height: 5vh;
    font-size: large;
  }
  #bottom .songinfo{
    font-size: x-large
  }
  #right {
    width: 100vw;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 13vh;
  }
  .card-box {
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
  }
  .card-img {
    height: 42vh;
    margin: 0;
  }
  .cards h3 {
    font-size: x-large;
  }
  .card-box p {
    font-size: x-large;
    width: 91vw;
  }
  #playbar {
    width: 100vw;
  }
  #songduration-start,
  #songduration-end {
    font-size: medium;
    margin: 0;
  }
  #songduration-start {
    position: absolute;
    left: 17px;
    top: 126px;
  }
  #songduration-end {
    position: absolute;
    right: 17px;
    top: 126px;
  }
  #seekbar {
    height: 10px;
    position: absolute;
    bottom: 7vh;
  }
  #circle {
    width: 13px;
    height: 13px;
  }
  .volume-bar {
    margin-top: 46px;
  }
  #hamburger {
    display: block;
  }
  #close-icon {
    display: block;
    left: 403px;
  }
  #playbar button{
    scale: 1.3;
  }
}

.volume-bar {
  display: flex;
  align-items: center;
}
